@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darker-color: #1F4E5F;
  --dark-color: #79A8A9;
  --light-color: #F4F7F7;
  --accent-color: #AACFD0;
  --button-hover: var(--accent-color);

  --background: var(--light-color);
  --foreground: var(--darker-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --darker-color: #1F4E5F;
    --dark-color: #79A8A9;
    --light-color: #F4F7F7;
    --accent-color: #AACFD0;
    --button-hover: var(--accent-color);

    --background: var(--dark-color);
    --foreground: var(--light-color);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
