@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darker-color: #1F4529;
  --dark-color: #47663B;
  --light-color: #E8ECD7;
  --accent-color: #EED3B1;

  --background: var(--light-color);
  --foreground: var(--dark-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --darker-color: #1F4529;
    --dark-color: #47663B;
    --light-color: #E8ECD7;
    --accent-color: #EED3B1;

    --background: var(--dark-color);
    --foreground: var(--light-color);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
